
body {
  position: relative; 
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* #section1 {  
  background: url("../images/Layer96.png");
  width: 100%;
  height: auto;
  height: 640px;
} */
.parallax1 { 
  background-image: url("../images/Layer96.png");  
  min-height: 640px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section2 {padding-top:50px;height:640px;color: #fff; 
  background: linear-gradient(110deg, rgba(235, 235, 235, 0.76) 0%, rgba(119,119,255,1) 53%, rgba(48,48,255,0.75) 81%, rgba(0,0,255,0.75) 100%);
}
#section3 {padding-top:50px;height:640px;color: #fff; background-color: #c7c7c7;}
#section4 {padding-top:50px;height:640px;color: #fff; background-color: #9e9e9e;}
#section5 {padding-top:50px;height:640px;color: #fff; background-color: #555555;}
#section6 {padding-top:50px;height:640px;color: #fff; background-color: #1d1d1d;}



.agency {
  margin-top: 100px;
  color: #000000;
}

.icons {
  margin-top: 20px;
  margin-left: 7px;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 10px;
}



.Creatives {  
  font-family: Gotham;  
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #f5f5f5;
  margin: auto;
  margin-top: 200px;
}
.Power-by {
  font-family: Gotham;  
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;    
  text-align: center;
  color: #11749e;
}
.W-cont{
  position: absolute;
  z-index: 2;
}
.W{
  font-size: 217.2px;
  font-weight: bold;
  font-style: normal;
  color: rgba(255, 255, 255, 0.18);
}
.faCircle{
  
  margin-top: 80px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.18);

}
.informer{
  text-align: center;
  font-size: 18px;
  color:  #000000;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  line-height: 1.6;
  font-family: Gotham;
  font-weight: 500;
}
.icon-information{
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}




.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: relative;  
  left: 50%;
  top: 170px;  
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}



/* FONT SIZE QUERY */
@media all and (min-width: 960px) {
  body{
      font-size: 18px;
  }
  .Creatives {
    font-size: 131.2px;
    letter-spacing: -7.6px;
  }
  .Power-by{
    font-size: 18.6px;
    letter-spacing: 18.9px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
      font-size: 16px;
  }
  .Creatives {
    font-size: 101.2px;
    letter-spacing: -5.6px;
  }
  .Power-by{
    font-size: 16.6px;
    letter-spacing: 12.9px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  body{
      font-size: 12px;
  }
  .Creatives {
    font-size: 61.2px;
    letter-spacing: -3.6px;
  }
  .Power-by{
    font-size: 12.6px;
    letter-spacing: 6.9px;
  }
}

