
#section1 { 
  background-image: url("../images/Layer96.png");  
  min-height: 640px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section2 { color: #fff; 
  background-color: #195b77;}
#section3 {color: #fff; 
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(6, 6, 29) 100%); /* w3c */
}
#section4 {color: #fff;
  background: white;}
#section5 {color: #fff; 
  background-image: url("../images/bgsec5.png");   
  min-height: 640px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section6 {color: #fff; background-color: #ffffff;}
 #section7 {
  
  background-image: url("../images/LayerEnd.png");  
  min-height: 640px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.Creatives {  
  font-family: Gotham;  
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #f5f5f5;
  margin-top: 180px;

}
.Power-by {
  margin-top: -30px;
  font-family: Gotham;  
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;    
  text-align: center;
  color: #11749e;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: relative;  
  left: 48%;
  top: 170px;  
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.agency {
  margin-top: 125px;
  color:  #ffffff;
  position: absolute;
  z-index:100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.W{    
  font-weight: bold;
  font-style: normal;
  color: rgba(255, 255, 255, 0.18);
}
.info-bar{
  height: 370px;
}
.faCircle{  
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.18);

}
.informer{
  text-align: center;
  font-size: 18px;
  color:   #ffffff;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  line-height: 1.6;
  font-family: Gotham;
  font-weight: 500;
}
.icon-information{
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color:  #ffffff;
}





.left-up{
  background:  #222222; 
  color: white;
  
}
.left-bot{ 
  background-image: url("../images/leftbot.png");  
  
}
.right-bot{
  background-color: #f3f3f3;
  color: black;
}
.right-up{
   background-image: url("../images/rightup.png");  
}
.this-cont{
 padding: 50px;
 padding-bottom: 80px;
}
.lee-text{
  font-size: 15px;
  line-height: 1.6;
}

.blog { 
  margin-top: 125px;
  position: absolute;
  z-index:100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.letsBlog{
  color: #222222;
  font-size: 33px;
}
.B{  
  font-size: 217.2px;  
  font-weight: bold;
  font-style: normal;
  color: rgba(34, 34, 34, 0.18);
}
.solutions{
  color: #222222;
  font-size: 25px;
  margin-top: -40px;
}
.blog-information{
  color:black;
  font-size: 14px;
  line-height: 24px;
}
.fresh{
  font-family: Gotham;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #11749e;
}
.iphone-content{
  color:  #ffffff;
}
.iphone{
  width: 100%;
  height: auto;
}
.gn{
  font-family: Gotham;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.gnAbout{
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}
.padbot{
  padding-bottom: 30px;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: rgba(255, 255, 255, 0.0);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

input[type=submit] {
  background-color: rgb(0, 17, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Style the container/contact section */
.contact { 
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {  
  width: 100%;
  margin-top: 6px;
  padding: 20px; 
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* FONT SIZE QUERY */
@media all and (min-width: 960px) {
  body{
      font-size: 18px;
  }
  .Creatives {
    font-size: 131.2px;
    letter-spacing: -7.6px;
  }
  .Power-by{
    font-size: 18.6px;
    letter-spacing: 18.9px;
  }
  .W{
    font-size: 217.2px;
  }
  .agency{
    font-size: 37px;
  }
  .iphone-content{
    padding: 100px;
    padding-top: 140px;
  }
  .iphone{
    padding: 100px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
      font-size: 16px;
  }
  .Creatives {
    font-size: 101.2px;
    letter-spacing: -5.6px;
  }
  .Power-by{
    font-size: 16.6px;
    letter-spacing: 12.9px;
  }
  .W{
    font-size: 197.2px;
  }
  .agency{
    font-size: 30px;
  }
  .iphone-content{
    padding: 60px;
    padding-top: 80px;
  }
  .iphone{
    padding: 60px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  body{
      font-size: 12px;
  }
  .Creatives {
    font-size: 61.2px;
    letter-spacing: -3.6px;
  }
  .Power-by{
    font-size: 12.6px;
    letter-spacing: 6.9px;
  }
  .W{
    font-size: 157.2px;
  }
  .agency{
    font-size: 22px;
  }
  .iphone-content{
    padding: 30px;
    padding-top: 50px;
  }
  .iphone{
    padding: 30px;
  }
}

